{% extends "::base.html.twig" %}

{% block title %}AppBundle:Donators:list{% endblock %}

{% block content %}



    <table class="highlight responsive-table">
        <thead>
        <tr>
            <th><h5>Top Donator Name</h5></th>
            <th><h5>Top Donator Amount</h5></th>
        </tr>
        </thead>

        <tbody>

        {%  for donator in top_donator %}
            <tr>
                <td>{{ donator.name }}</td>
                <td>{{ donator.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <table class="highlight responsive-table">
        <thead>
        <tr>
            <th><h5>All time amount</h5></th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ all_time_amount }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
